.aluno-container {
  width: 100%;
  max-width: 1200px;
  padding: 5 10px;
  margin: 30px auto;
  align-items: center;
  
}
 
.navbar {
  border-radius: 15px;
}

.aluno-container header{
  display: flex;
  align-items: center;
}

.aluno-container header img{
  height: 50px;
}

table {
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 10px;
}

table, th, td {
  text-align: center;
}

body,html{
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.bg{
  background-color: grey;
  background-image: url('src/assets/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

